{% extends "main/layout.html"%}
{% block content %}


<main>
<div class="py-5 container">
		{% if filter_form %}
			{% include "main/filter.html" %}
		{% endif %}
	<div class="container text-center card-group">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
			{% for brand in brands %}
			<div class="card mb-3 ms-5 border-2 border-dark" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">{{ brand.name }}</h5>
			    <p class="card-text">Country - {{ brand.country }}</p>
			  </div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
</main>
{% endblock %}