<header class="navbar navbar-dark bg-dark shadow-sm" data-bs-theme="dark">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active" aria-current="page">Home</a></li>
      {% if user.is_authenticated %}
      	<p style="color:white">
          Welcome {{ user.get_username }} <br>
          <a href="{% url 'logout' %}">Logout</a>
        </p>
      {% else %}
      <p style="color:white">
      	<a href="{% url 'register' %}">Sign up</a>
      	<a href="{% url 'login' %}">Sign in</a>
      </p>
      {% endif %}
    </ul>
  </div>
</header>