<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">You have to Sign in</h1>
    <p class="lead text-body-secondary">If you want to search for some cars, you have to log in your account or create new, if you don`t have one. After this you will be able to use our site. If you have some issues, please <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contact us</a></p>
    <p align="center">
      <a href="#" class="btn btn-primary my-2">Sign in</a>
      <a href="#" class="btn btn-secondary my-2">Sign up</a>
    </p>
  </div>
</div>